<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <script src="http://www.jq22.com/jquery/jquery-3.3.1.js"></script>

    <script>
        window.CHAT = {
            socket: null,
            heartflag: false,
            init: function () {

                if(window.WebSocket){
                    var userId = $("#userId").val();
                    CHAT.socket = new WebSocket("ws://localhost:8080/connect/" + userId);
                } else {
                    alert("浏览器不支持websocket协议...");
                }

                CHAT.socket.onopen = function() {
                    console.log("连接建立成功...");
                    CHAT.heartflag = true;
                    CHAT.heart();
                },
                CHAT.socket.onclose = function() {
                    console.log("连接关闭...");
                },
                CHAT.socket.onerror = function() {
                    console.log("发生错误...");
                    CHAT.heartflag = false;
                    $("#connectStatu").append(CHAT.nowFormatDate()+"  异常<br/>");
                },
                CHAT.socket.onmessage = function(e) {
                    console.log("接受到消息：" + e.data);
                    var receiveMsg = document.getElementById("receivedMessage");
                    receiveMsg.append(CHAT.nowFormatDate()+"  收到消息 : "+e.data+"<br/>");
                }

            }, 
            nowFormatDate: function () {
                var date = new Date();
                var seperator1 = "-";
                var seperator2 = ":";
                var month = date.getMonth() + 1;
                var strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                    + " " + date.getHours() + seperator2 + date.getMinutes()
                    + seperator2 + date.getSeconds();
                return currentdate;
            },
            //心跳机制
            heart: function () {
                if (CHAT.heartflag){
                    CHAT.socket.send("&");
                    $("#heartdiv").append(CHAT.nowFormatDate()+"  心跳 <br/>");
                }
                setTimeout("CHAT.heart()", 10*60*1000);
            },
            //发送消息
            chat: function() {
                var msg = document.getElementById("message");
                CHAT.socket.send(msg.value);
            }

        }
    </script>

</head>
<body>

    用户id：<input id ="userId" type="text" /><br/>
    <button onclick="CHAT.init()">连接</button><br/>

    =====================================================<br/>
    消息 :  <input id ="message" type="text" /><br/>
    <button onclick="send()">发送</button><br/>


    =====================================================<br/>
    连接状态 : <button onclick="clearConnectStatu()">清空</button><br/>
    <div id="connectStatu"></div><br/>


    =====================================================<br/>
    收到消息 :<br/>
    <div id="receivedMessage"></div><br/>


    =====================================================<br/>
    心跳 :<br/>
    <div id="heartdiv"></div><br/>


</body>
</html>